<div class="card container mt-3 rounded-pill shadow">
  <div class="m-lg-5 px-5 pt-5">
    <div class="card-content container">
      <div class="row px-5 py-4">
        <div class="text-nowrap">
          <h3> {{ snippet.title }}</h3>
          <span class="badge rounded-pill bg-success">
            {{ snippet.language }}
          </span>
          <span class="badge rounded-pill bg-secondary m-1">
            {{ snippet.style }}
          </span>
        </div>
      </div>
        <div class="row card bg-dark rounded-pill text-danger p-5 code-container">

          <div cass="card-content ">
            <span>{{ snippet.code }}</span>
          </div>
        </div>
        <div class="col-4 text-center" *ngIf="snippet.created">
          <span>Created on: {{ snippet.created }}</span>
        </div>
      <!-- <div>
      <span>{{ snippet.owner }}</span>
    </div> -->
    </div>
  </div>
  <div class="card-content container px-5 pb-3">
    <div class="row m-lg-3 px-5 pb-5">
      <div class="col-sm-12 col-md-4 my-3 text-center">
        <input
          class="btn btn-primary rounded-pill col-8"
          type="button"
          routerLink="/snippets"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          value="Back"
        />
      </div>
      <div class="col-sm-12 my-3 col-md-4 text-center">
        <input
          class="btn btn-danger rounded-pill col-8"
          type="button"
          (click)="onDelete()"
          value="Delete"
        />
      </div>
      <div class="col-sm-12 my-3  col-md-4 text-center">
        <input
          class="btn btn-warning rounded-pill col-8"
          type="button"
          [routerLink]="['/snippets/edit', snippet.id]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          value="Edit"
        />
      </div>
    </div>
  </div>
</div>
