<div>
  <form [formGroup]="userControl" (ngSubmit)="onSave()">
    <div>
      <label>
        username: <input type="text" formControlName="username" />
      </label>
    </div>
    <div>
      <label>
        password: <input type="password" formControlName="password" />
      </label>
    </div>
    <input type="submit" value="LogIn" [disabled]="!userControl.valid" />
  </form>
</div>
<div>
  <input
    type="button"
    routerLink="/snippets"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    value="Back"
  />
</div>
